$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$primary-normal: #090d11;
$primary-dark: #06090c;
$primary-light: #1a1f25;

$primary-normal: #232224;
$primary-dark: #161617;
$primary-light: #353436;

$primary-normal: #fff;
$primary-dark: #edeaef;
$primary-light: #fbfeff;

$primary-normal: #d94140;
$primary-dark: #b42b2b;
$primary-light: #d34040;